@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(31, 31, 43); */
}
.main {
  width: 100%;
  display: flex;
}
.left {
  width: 30%;
  /* border: 1px solid rgb(53, 51, 51); */
}
.right {
  width: 70%;
  /* border: 1px solid rgb(53, 51, 51); */
}
.left_cornor_1 {
  /* border: 1px solid black; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
  height: auto;
  /* box-shadow: 1px 1px px #fff; */
  background-color: rgb(209, 209, 226);
  color: #252424;
  align-items: center;
}
.local {
  /* border-bottom: 1px solid rgb(66, 46, 46); */
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  letter-spacing: 2px;
}
h2 {
  color: rgb(43, 43, 43);
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid black; */
}
.left_cornor_1 h3 {
  margin-top: -20px;
  padding: 10px;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.CircularProgressbar-path {
  stroke: rgb(206, 9, 9);
}
.CircularProgressbar-trail {
  /* width: 50px; */
  stroke: rgb(238, 255, 0);
}
.CircularProgressbar-text {
  border-radius: 10px;
  fill: yellow;
}
.CircularProgressbar-background {
  fill: rgb(255, 251, 5);
}
.main {
  display: flex;
  justify-content: center;
  /* text-align: center ; */
}
main button {
  color: #252525;
  padding: 5px;
  width: 23.2rem;
  margin: 10px;
  background-color: rgb(209, 209, 226);
}

.nav {
  display: flex;
  justify-content: space-between;
}
.navbar {
  text-align: right;
  color: #242323;
  padding: 5px;
  flex-grow: 1;
  /* width: 10%; */
  margin: 10px;
  background-color: rgb(209, 209, 226);
}
.header_skill {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.show {
  padding: 20px;
}
.location {
  /* border: px solid #fff; */
  background-color: yellow;
  border-top: 5px solid #fff;
  transition-delay: 2s;
  /* border-bottom-left-radius: 9999px; */
  /* border-bottom-right-radius: 9999px; */
}
.about_me_main_header_left {
  display: flex;
}
.about_me_main_header_left_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25.3rem;
  margin: 10px;
  background-color: rgb(237, 240, 241);
}
.about_me_main_header_left_2 {
  width: 40%;
  /* border: 1px solid black; */
}
.hii {
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-size: 50px;
  font-weight: 800;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name {
  font-size: 25px;
  font-weight: 900;
  color: #252525;
  /* text-shadow: 1px 1px 10px #242323; */
}
.developer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
}
.recent_project_main {
  /* border: 1px solid black; */
  margin: 10px;
}
.recent_project_main h2 {
  background-color: #252525;
  color: #fff;
}
.recent_skill_main {
  /* border: 1px solid black; */
  margin: 10px;
}
.recent_skill_main h2 {
  background-color: #f35656;
  color: #fff;
}
.recent_testimonials_main {
  margin: 10px;
  background-color: #3f3737;
  color: #fff;
}
.recent_testimonials_main h2 {
  color: #fff;
}
/* media query */
@media only screen and (max-width: 900px) {
  h2 {
    color: rgb(43, 43, 43);
    font-size: 16px;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    /* border: 1px solid black; */
  }
  main button {
    color: #252525;
    width: 13rem;
    flex-flow: column-reverse;
    background-color: rgb(209, 209, 226);
  }
}
/* card */
.card_main_card {
  color: #fff;
  background-color: #252424;
  /* bordetop: 10px; */
  margin: 12px;
  border: 1px solid #242323;
}
.card_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items:; */
  /* width: 4rem; */
  /* padding: 2rem; */
}
.card_individual {
  border-top-left-radius: 20px;
  /* flex-shrink: end; */
  width: 15rem;
  margin: 1rem;
  background-color: #222020;

  /* border: 1px solid black; */
}
.card_individual:hover {
  border-top-left-radius: 20px;
  /* flex-shrink: end; */
  width: 15rem;
  margin: 1rem;
  box-shadow: 0px 0px 1px #fff;
  /* margin-top: -5px; */
  background-color: #222020;

  /* border: 1px solid black; */
}
.card_content {
  display: block;
  justify-content: space-between;
}
.card_individual img {
  width: 15rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* border: 1px solid black; */
  /* border-radius: 20px; */
}
.card_individual h2 {
  color: yellow;
  font-size: 18px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card_individual h3 {
  color: rgb(243, 243, 220);
  font-size: 12px;
  margin-top: -25px;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
.card_individual img {
  height: 15rem;
}
.card_footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.card_footer a {
  background-color: #121fcf;
  color: #f7f4f4;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 13px;
}
.card_teck_stack {
  font-size: 12px;
  color: #242323;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  background-color: yellow;
}
.card_teck_stack2 {
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff8f8;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  background-color: rgb(252, 59, 117);
}
.card_teck_stack2 {
  /* background-color: rgb(250, 89, 138); */
}
.skill_main {
  background-color: #eeecec;
  margin: 10px;
}

.skill_header {
  display: flex;
}
.skill_link {
}
.skill_header a {
  color: rgb(43, 43, 43);
  font-size: 14px;
  margin-top: 5px;
  padding: 15px;
  cursor: pointer;
  /* border: 1px solid black; */
}
.skill_link {
  color: #f7f4f4;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: #121fcf;
}
.skill_link:hover {
  background-color: #878fff;
  color: #222020;
}
/* form react formik */
.form {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
}
label {
  font-size: 18px;
}
input {
  width: 25rem;
  padding: 10px;
  border-radius: 5px;
}
.error {
  color: #cf1512;
  margin-bottom: 5px;
}
.skills {
  display: flex;

  justify-content: center;
  align-items: center;
}
.button1 {
  width: 5rem;
  background-color: #121fcf;
  padding-bottom: 4px;
  margin-top: 10px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.button1:hover {
  background-color: #1e2cf3;
}
.item_add {
  border: 1px solid rgb(253, 222, 222);
  height: auto;
  background-color: #f7f4f4;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
}

.item {
  border-radius: 5px;
  background-color: #7a7b81;
  color: white;
  margin: 4px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: cell;
}
span {
  font-size: 12px;
  padding-left: 10px;
  color: #222020;
  cursor: pointer;
  padding-right: 3px;
}
span:hover {
  color: #222020;
}
.link {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.link_card {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b3b0b0;
  border-radius: 5px;
}
.link_card:hover {
  cursor: pointer;
}
@media only screen and (max-width: 720px) {
  label {
    font-size: 12px;
  }
  .main {
    display: grid;
  }
  .left {
    width: 100%;
  }
  .left_cornor_1 {
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
    height: auto;
    background-color: rgb(209, 209, 226);
    color: #252424;
    align-items: center;
  }
  .navbar {
    text-align: right;
    color: #242323;
    flex-grow: 1;
    background-color: yellow;
  }
  .local {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    /* padding-left: 40px; */
    letter-spacing: 2px;
  }
  .nav {
    display: block;
    /* justify-content: center; */
  }
  .navbar {
    text-align: right;
    color: #242323;
    padding: 5px;
    flex-grow: 1;
    margin: 10px;
    background-color: rgb(209, 209, 226);
  }
  .location {
    background-color: yellow;
    border-top: 5px solid #fff;
    transition-delay: 2s;
  }
  main button {
    color: #252525;
    width: 95%;
    flex-flow: column-reverse;
    background-color: rgb(209, 209, 226);
  }
  .location {
    background-color: yellow;
    transition-delay: 2s;
  }
  .about_me_main_header_left {
    display: block;
  }
  .about_me_main_header_left_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94vw;
    /* flex-grow: 4; */
    height: 25rem;
    margin: 10px;
    /* border: 1px solid black; */
    background-color: aliceblue;
  }
  .about_me_main_header_left_2 {
    width: 96vw;
    /* border: 1px solid black; */
  }
  .recent_project_main {
    /* border: 1px solid black; */
    margin: 10px;
    width: 91.8vw;
  }
  .recent_skill_main {
    /* border: 1px solid black; */
    margin: 10px;

    width: 91.8vw;
  }
  .recent_skill_main h2 {
    background-color: #f35656;
  }
  .recent_testimonials_main {
    margin: 10px;
    background-color: #3f3737;
    color: #fff;
    width: 91.8vw;
  }
  .recent_testimonials_main h2 {
    color: #fff;
  }
  h2 {
    color: rgb(43, 43, 43);
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    /* border: 1px solid black; */
  }
  .card_individual {
    border-top-left-radius: 20px;
    /* flex-shrink: end; */
    /* width: 91.8vw; */
    flex-grow: 1;
    margin: 1rem;
    background-color: #222020;

    /* border: 1px solid black; */
  }
  .card_individual img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border: 1px solid black; */
    /* border-radius: 20px; */
  }
  .card_main_card {
    margin: 10px;
    width: 91.8vw;
    color: #fff;
    background-color: #252424;
    /* bordetop: 10px; */
    margin: 12px;
    border: 1px solid #242323;
  }
  .card_main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items:; */
    /* width: 4rem; */
    /* padding: 2rem; */
  }
  .recent_project_main {
    /* border: 1px solid black; */
    margin: 10px;
    width: 91.8vw;
  }
  .card_individual {
    border-top-left-radius: 20px;
    /* flex-shrink: end; */
    width: 15rem;
    margin: 1rem;
    background-color: #222020;

    /* border: 1px solid black; */
  }
  .form {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
  }
  label {
    font-size: 18px;
  }
  input {
    width: 20rem;
    padding: 5px;
    border-radius: 5px;
  }
  .error {
    color: #cf1512;
    margin-bottom: 5px;
  }
  /* skill */
  .skill_main {
    font-size: 12px;
    width: 91.7vw;
    background-color: #e9e7e7;
    margin: 10px;
  }

  .skill_header {
    display: flex;
  }
  .skill_link {
  }
  .skill_header a {
    color: rgb(43, 43, 43);
    font-size: 14px;
    margin-top: 5px;
    padding: 15px;
    cursor: pointer;
    /* border: 1px solid black; */
  }
  .skill_link {
    color: #f7f4f4;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #121fcf;
  }
  .skill_link:hover {
    background-color: #878fff;
    color: #222020;
  }
  .button1 {
    width: 5rem;
    background-color: #121fcf;
    padding-bottom: 4px;
    margin-top: 10px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button1:hover {
    background-color: #1e2cf3;
  }
  .item_add {
    border: 1px solid rgb(253, 222, 222);
    height: auto;
    background-color: #f7f4f4;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
  }
}
